<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.nishantsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.nishantsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.nishantsapplication.app.modules.searchtopics.ui.SearchTopicsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.interests.ui.InterestsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.blog.ui.BlogActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.appnavigation.ui.AppNavigationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.notifications.ui.NotificationsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.explore.ui.ExploreActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.nishantsapplication.app.modules.signin.ui.SignInActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.nishantsapplication.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.privacypolicy.ui.PrivacyPolicyActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.termsandconditions.ui.TermsAndConditionsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.nishantsapplication.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
